 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #{{ site.color.third }};">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/img/profile.jpg" class="img-responsive profilepic shadow">
                </div>
                <div class="col-sm-8 vcenter">
                    <p style="color: #{{ site.color.third }};">Maker of nice things from Melbourne, Australia. When I'm not wasting away in front of a computer writing code, sometimes I 
                        {{site.bio.hobbies}}. I'm excited by new tech and love making weird things on the cutting edge. You can reach me at <a href="mailto:hi@duck.pizza">hi@duck.pizza</a>
                    </p>
                </div>
            </div>
        </div>
    </section>