 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #{{ site.color.third }};">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/img/profile.jpg" class="img-responsive profilepic shadow">
                </div>
                <div class="col-sm-8 vcenter">
                    <p style="color: #{{ site.color.third }};">
                        Hey I'm Zac, code guy and game designer living in Melbourne with my two birds and cat.
                        I love making things that get people excited and laughing. I'm currently at Monash Uni finishing off my degree in IT with a major in game dev.
                        When I'm not wasting away in front of a computer writing code, I also enjoy climbing rocks, listening to music and reading. 
                        You say hi via <a href="mailto:hi@duck.pizza">email</a> or <a target="_blank" rel="noopener" href="https://twitter.com/duckpizza_">twitter.</a>
                    </p>
                </div>
            </div>
        </div>
    </section>