<!-- About Section -->
<section class="" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color: #{{ site.color.third }};">About</h2>
                <hr style="border-color: #{{ site.color.third }};" class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 aboutSideBar">
                <img src="/img/profile.jpg" class="img-responsive profilepic shadow">
                <a class="aboutLink shadow" href="https://twitter.com/duckPizza_" >@duckpizza_</a>
                <a class="aboutLink shadow" href="mailto:hi@duck.pizza" >hi@duck.pizza</a>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for aboutItem in site.about %}
                    <div class="col-xs-12 aboutIcon shadow">
                        <span class="icon-{{ aboutItem.icon }}"></span>
                        <p>{{ aboutItem.text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>