 <!-- Blog peek Section -->
 <!-- Except that blogs suck ass, so now it's retrofitted for videos-->
    <section class="success" id="blogpeek">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Fresh posts</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row blogpeek">                
                {% for post in site.posts limit:3 %}
                <div class="col-md-4">
                    <div class="blogitem card shadow">
                        <a href="{{post.link}}" target="_blank" rel="noopener" class="Secondary link">
                            <img src="/img/posts/{{post.img}}" class="img-responsive">
                        </a>
                        <div class="gradient"></div>
                            <h2>{{post.title}}</h2>
                        <p>
                            {{post.description}}...<br>
                            <a href="{{post.link}}" target="_blank" rel="noopener" class="Secondary link">Watch now</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>