<!-- Header -->
<header>
    <div class="container bgimage">
        <div class="container bgtext"> 
            <h1 class="">Zac Lucarelli</h1>
            <h2>Maker of nice things from Melbourne, Australia</h2>
            <div class="header-icons">
                <a href="https://twitter.com/duckpizza_" target="blank" rel="noopener">
                    <div>
                        <span class="icon-twitter"></span>
                    </div>
                </a>
                <a href="https://github.com/chikanz" target="blank" rel="noopener">
                    <div>
                        <span class="icon-github"></span>
                    </div>
                </a> 
                <a href="https://snootboop.itch.io/" target="blank" rel="noopener">
                    <div>
                        <span class="icon-itch"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
