<!-- Header -->
<header>
    <div class="container bgimage">
        <div class="container bgtext">
            <h1 class="">Zac Lucarelli</h1>
            <h2 class="headerFadeIn">Maker of cool stuff from Melbourne, Australia</h2>

            <div class="header-icons">
                {% for social in site.social %}
                <a href="{{social.url}}" target="blank" rel="noopener">
                    <div>
                        <span class="headerFadeIn icon-{{social.icon}}"></span>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>
</header>