
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="Secondary" >Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>   

            <div class="row">                
                {% assign col = site.collections %}
                {% assign collectionIndex = 0 %}
                
                {% for collection in col %}
                    
                    {% assign name = collection.label %}                
                    {%if name != 'posts'%}
                        {% assign collectionIndex = collectionIndex | plus: 1 %}
                        <h2 class="Secondary text-capitalize" style="padding:20px;">{{name}}</h2>                
                        {% assign posts = site.[name] | sort:'project-num' %}
                        {% for i in (0.. site.concat[collectionIndex]) %}
                        {% assign post = posts[i] %}
                            <div class="col-sm-4 portfolio-item">
                                <a href="{{ post.url }}" class="portfolio-link">
                                    <div class="caption round">
                                        <span class="HoverCaptionTop">{{post.title}}</span>
                                        <span class="HoverCaptionTags">
                                            {% for icon in post.icons %}
                                            <span class="icon-{{ icon.top }}"></span>
                                            {% endfor %}    
                                        </span> 
                                        <span class="HoverCaptionBottom">{{post.subtitle}}</span> 
                                    </div>
                                    <img src="img/portfolio/lquip/{{ post.img }}" class="lazyload img-responsive round blur-up" alt="{{ post.alt }}" style="width:100%"
                                         sizes="300px"
                                         data-srcset="img/portfolio/small/{{ post.img }} 1x,
                                                      img/portfolio/medium/{{ post.img }} 1.5x,
                                                      img/portfolio/large/{{ post.img }} 2x">
                                </a>
                            </div>
                        {% endfor %}    

                        {% assign postsSize = posts | size %}
                        {% if postsSize > site.concat[0] %}
                        <!--<a href=""><p class="Secondary overflowLink" style="padding:0px 10px">More <span class="icon-chevron-right"></span></p></a>-->
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>