<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    
    {% include head.html %}
    
    <body id="page-top" class="index">
        
    {% include Portfolio_nav.html %}
    
        <div>
        <!--Content-->
        <section id="portfolio_content" class="Secondary">
        <div class="container">
                        
            <h1>{{page.title}}</h1>
            <h2>{{page.subtitle}}</h2>
            
            <!--Courasel!-->
            {% if page.carousel != null %}
            
                {% comment %} convert variable to string by using data subfolders {% endcomment %} 
                {% assign datastring = site.data.carousel[page.carousel] %}
            
                {% include carousel.html name=page.carousel data=datastring %}
            {% endif %}
            
            <div class="markdown" style="padding-bottom: 20px;">
                {{content}}
            </div>
            
            <hr class="star-primary">
        </div>
        </section>
        
    {% include footer.html %}
        
    {% include js.html %}
    </body>
</html>