<!DOCTYPE html>
<html>
    {% include head.html %}
    
    <body id="page-top" class="index">
        
        
    {% include Portfolio_nav.html %}
    
        <div>
        <!--Content-->
        <section id="portfolio_content" class="third">
        <div class="container">
                        
            <h1 class="third">{{page.title}}</h1>
            <h2 class="third">{{page.subtitle}}</h2>
            
            {% if page.carousel != null %}
            {% assign datastring = site.data.carousel[page.carousel] %}
            
            <div class ="simaContainer round">
                <div class="siema center">
                    {% for picture in datastring %}
                        {% capture firstletter %} {{ picture.url | slice: 0 }} {% endcapture %}
                        {% if firstletter == " / " %}
                            <img class=" round center" src="{{ picture.url }}" alt="{{ picture.caption }}">   
                        {% else %}               
                            <img data-id="{{ picture.url }}" class="gfyitem" />                            
                        {% endif %}
                        
                    {% endfor %}    
                </div>
                <div style="position: absolute">
                    <h1 class="pointer">👉</h1>
                </div>
            </div>
            {% endif %}            
            
            <div style="">
                <div class="round links">
                    <ul>
                    {% for link in page.links %}
                    <li>
                        <a href="{{link.url}}" target="blank" rel="noopener" ><span class="icon-{{ link.icon }}"></span></a>
                    </li>
                    {% endfor %}    
                    </ul>
                </div>
            </div>

            <div class="markdown" style="padding-bottom: 20px;">
                {{content}}
            </div>
            
            {% if page.itch != null %}
            <div class="round" style="width:100%; text-align: center">
                <iframe frameborder="0" src="https://itch.io/embed/{{page.itch}}?linkback=true&amp;border_width={{page.itch-border}}&amp;bg_color={{page.itch-BG}}&amp;fg_color={{page.itch-text}}&amp;link_color={{page.itch-button}}&amp;border_color={{page.itch-border-col}}"></iframe>
            </div>
            
            {% endif %}
            
            <hr class="star-primary" style="margin-bottom: 20px">
            <p class="portfolioFooter Secondary">{{page.project-date}}</p>
        </div>
        </section>
        
    {% include footer.html %}
        
    {% include js.html %}
            
    {% if page.carousel != null %}
    <script src="/js/siema.min.js"></script>
    <script>
        new Siema({
            loop: true,
            onChange: onChangeCallback,        
            easing: 'ease',
            duration: 400,
        });
        if(localStorage.getItem('tutorialDone')) document.querySelector('.pointer').remove(); //Auto remove pointer
    </script>
    <script src="/js/GfycatFetcher.js"></script>
    {% endif %}
    
            
    </body>
</html>